.pokemon-card {
  &.card {
    align-items: center;
    padding: 5vh 3vh 3vh 3vh;
    margin: 3vh;
    text-decoration: none;
    color: black;
    background-color: #ecececcf;
    border-radius: 2.25rem;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    &:hover {
      color: black;
      box-shadow: 0px 1px 24px rgba(131, 125, 125, 0.53);
    }
    .btn {
      background: none;
      color: black;
      border: none;
      font-size: 1.5em;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0);
      transition: border-bottom 0.5s ease;
      border-radius: 0;
      padding: 0px;
      outline: none;
      &:focus,
      &:active {
        outline: none;
        border: 0;
        box-shadow: none;
        border-bottom: 0.5px solid black;
        background: none;
        color: black;
      }
      &:hover {
        border-bottom: 0.5px solid black;
        background: none;
        color: black;
      }
    }
  }

  &__white-stripe {
    position: absolute;
    z-index: 0;
    background-color: white;
    width: 50%;
    height: 130%;
    transform: rotate(30deg) translate(-20px, -70px);
  }
  .card-body {
    padding: 0px;
    z-index: 1;
  }

  .card-img-top {
    margin-top: -25px;
    z-index: 1;
    min-height: 200px;
  }

  .card-title {
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    z-index: 1;
    .pokemon-id {
      font-size: 3vh;
      font-weight: 500;
    }
  }
}
